.home {
	height: 100vh;
}

.intro {
	height: 20%;
	border-bottom: 1px solid #4b4b4b;
	margin-top: 30px;
	padding: 20px;
	display: flex;
	justify-content: space-between;

	.left {
		display: flex;
		flex-direction: column;

		.name {
			font-family: 'smReg';
			font-size: 24px;
		}

		.sub {
			font-size: 12px;
			opacity: 50%;
		}
	}

	.right {
		position: relative;
	}
}

.listContainer {
	height: 80%;

	.listItem {
		padding: 32px 20px;
		border-bottom: 1px solid #4b4b4b;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		opacity: 0.3;
		transition: opacity 200ms ease-out;

		.title {
			font-family: 'smReg';
			font-size: 60px;
			cursor: pointer;
		}

		.year {
			font-size: 32px;
		}

		&.focus {
			opacity: 1;
			transition: opacity 200ms ease-out;

		}
	}
}

.focusImage {
	position: fixed;
	top: 20%;
	right: 10%;
	width: 48%;
	height: 74%;
	
	img {
		position: absolute;
		width: 100%;
		opacity: 0;
		transition: opacity 200ms ease-out;

		&.focus {
			opacity: 1;
			transition: opacity 200ms ease-out;
		}
	}
}

//tablet
@media only screen and (max-width: 1024px) { 
	.listContainer {
		.listItem {
			padding: 24px 20px;

			.title {
				font-size: 48px;
			}

			.year {
				font-size: 24px;
			}	
		}
	}

	.focusImage {
		top: 30%;
		right: 15%;
		width: 38%;
		height: auto;
	}
}

//phone
@media only screen and (max-width: 768px) { 

	.intro {
		height: 35%;
	}

	.listContainer {
		height: 65%;

		.listItem {
			padding: 12px 20px;

			.title {
				font-size: 24px;
			}

			.year {
				font-size: 16px;
			}
		}
	}

	.focusImage {
		top: 25%;
    	left: 20px;
    	width: 38%;
    	height: auto;
    	position: absolute;
	}
}
