@import '../../mixin.scss';

.randomizer {
	background-image: url("../../assets/images/archive.png");
	width: 100px;
	height: 100px;
	background-size: contain;
	@include animate(spin, 60s, infinite, none, linear);
	position: absolute;
	bottom: 20px;
	right: 0px;
	cursor: pointer;
	z-index: 1;

	&:hover {
		background-image: url("../../assets/images/archive.png");
		width: 100px;
		height: 100px;
		background-size: contain;
	}
}

@include keyframes (spin) {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg); }
}

@media only screen and (max-width: 600px) { 
	.randomizer {
		// display: none;
	}
}
