@font-face {
  font-family: 'TitlingGothicFBExtendedBlack';
  src: url('./assets/fonts/TitlingGothicFBExtendedBlac.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
    font-family: 'lunchtype22regular';
    src: url('./assets/fonts/lunchtype22-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html, p {
  margin: 0;
  padding: 0;
  font-family: lunchtype22regular;
}

a {
  text-decoration: none;
  color: black;
}

a:hover, .active {
  background: linear-gradient(to top, #CCFF00 50%, transparent 50%);
}

a.noLine:hover {
  background: none;
}

a.center {
  display: flex;
  align-items: center; 
}

a.center img {
  margin-right: 8px;
}

p {
  line-height: 1.5em;
}

.gray {
  color: #696969;
}
