@import '../../mixin.scss';

.border {
	width: 100%;
    height: 30px;
    background-color: #CCFF00;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    z-index: 2;
    top: 0;
}

.borderText {
	font-family: 'TitlingGothicFBExtendedBlack';
	font-size: 10px;
	transform: translateX(0);
	letter-spacing: 0.5px;
	display: inline-block;
	margin-top: 10px;
}

.animate {
	@include animate(slideIn, 36s, infinite, none, linear);
}

@include keyframes (slideIn) {
	0% { transform: translateX(-10%); }
	100% { transform: translateX(-90%); }
}