@import '../../mixin.scss';

.landing {
	display: flex;
}

.info {
	width: calc(50% - 80px);
	height: calc(100vh - 80px);
	padding: 40px;
	border-right: 1px solid #E1E1E1;
	position: relative;
}

.intro {
	max-width: 320px;
	font-size: 14px;
	line-height: 1.25em;
}

.nav {
	position: absolute;
	top: 38%;
	margin-left: -10px;

	ul { 
		list-style-type: none;
		padding: 0;

		li {
			margin: 12px 0;
		}

		li:first-child {
			margin-top: 0;
		}

		li:last-child {
			margin-bottom: 0;
		}

		a { 
			padding: 0 10px;
			font-size: 20px;
		}
	}
}

.footer {
	position: absolute;
	bottom: 40px;
}

.images {
	width: calc(50% - 80px);
	padding: 40px;
	position: relative;
	display: flex;
    align-items: center;
}

.carousel {
	flex-direction: column;
}

.projectImage {
	img {
		width: 100%;
	}
}
